
/* Theme fonts */
@font-face {
    font-family: 'Eras Light ITC';
    font-style: normal;
    font-weight: normal;
    src: local('Eras Light ITC'), url('./assets/fonts/ERASLGHT.woff') format('woff');
}

@font-face {
    font-family: 'Yantiq';
    font-style: normal;
    font-weight: normal;
    src: local('Yantiq'), url('./assets/fonts/Yantiq.woff') format('woff');
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Eras Light ITC' !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url("./assets/png/bg.png");
}

h1, h2, h3, h4, h5{
    line-height: 1.3;
}