.business{
    text-align: center;
    width: 220px;
    margin: 0 auto;
    font-size: 12px;
    color: #000000;
    font-weight: 600;
}
.business p{
    padding: 5px 0;
    margin: 0;
}
.business .col-3{
    padding: 0 13px !important;
    width: 40px;
}
.business .age{
    background: #ffffff;
    border-radius: 10px;
    padding: 2px;
    color: #666666;
    font-weight: 700;
    width: 45px;
    border: 2px solid #3ca7d5;
}
.business img{
    cursor: pointer;
    box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
    transition: 0.4s;
}
.business img:hover{
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.75);
    transition: 0.4s;
}
.business .price{
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.business .status{
    bottom: 5px;
    left: 5px;
    padding: 2px 5px;
}
@media (max-width: 576px){
    .business{
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 20px;
    }
    .business .text{
        font-size: 18px;
    }
    .business img{
        width: 98%;
    }
    .business .age{
        width: 60px;
        font-size: 16px;
        margin: 0 auto;
    }
    .business .price{
        display: block;
    }
    .business .status{
        bottom: 10px;
        left: 15px;
        padding: 4px 8px;
        font-size: 13px;
    }
}
@media (min-width: 576px){
    .business .price{
        display: none;
    }
}

.business-big{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.business-big p{
    padding: 10px 0;
    margin: 0;
}
.business-big .age-range{
    width: 90%;
    margin: 0 auto;
}
.business-big .age{
    background: #ffffff;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    margin: 0 auto;
    padding: 2px;
    color: #666666;
    font-weight: 700;
    border: 2px solid #3ca7d5;
}
.business-big img{
    width: 500px;
    height: 320px;
    cursor: pointer;
    box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
    transition: 0.4s;
    border: 2px solid #3ca7d5;
}
.business-big img:hover{
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.75);
    transition: 0.4s;
}
.business-big .description{
    font-size: 18px;
    font-weight: 400;
    margin: auto;
}

.business-big .status{
    bottom: 10px;
    left: 80px;
    padding: 2px 5px;
}
@media (max-width: 576px){
    .business-big{
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 20px;
    }
    .business-big .text{
        font-size: 15px;
    }
    .business-big img{
        width: 98%;
    }
    .business-big .age-range{
        width: 100%;
    }
    .business-big .age{
        width: 60px;
        height: 35px;
        margin: 0 auto;
    }
    .business-big .description{
        display: block;
    }
    .business-big .status{
        bottom: 10px;
        left: 15px;
        padding: 4px 8px;
        font-size: 13px;
    }
}
