.home .button-group{
    width: 60%;
}
.home .sprog-btn{
    float: left !important;
}
.home .filter-btn{
    float: right !important;
}
.home .sprog-btn, .home .filter-btn{
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Yantiq';
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 0px 23px -8px rgba(0,0,0,0.75);
    font-weight: 600;
    transition: 0.4s;
    width: 120px;
}
.home .sprog-btn:hover, .home .filter-btn:hover{
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.75);
    transition: 0.4s;
}
.home .sprog-btn:focus, .home .filter-btn:focus{
    outline: 0;
}

.businesses-landscape{
    margin-top: 20px;
    padding-top: 20px;
    background-color: #3ca7d5;
}

@media (max-width: 993px){
    .home .button-group{
        width: 95%;
        margin: auto;
    }
}
@media (max-width: 768px){
    .home iframe{
        display: none;
    }
}
@media (max-width: 576px){
    .businesses-landscape{
        display: none;
    }
    .businesses-portrait{
        margin-top: 20px;
        display: block;
    }
    .businesses-portrait .result{
        font-size: 30px;
        text-align: center;
        font-weight: 600;
    }
}
@media (min-width: 576px){
    .businesses-portrait{
        display: none;
    }
}