
/* Counter fragment */
.counter{
    border: 3px solid #888888;
    border-radius: 10px;
    text-align: left;
}
.counter input{
    margin-left: 10px;
    border: none;
    font-size: 13px;
    line-height: 30px;
    width: 75%;
    background: transparent;
}

.counter .control{
    float: right;
}

.counter .control span{
    cursor: pointer;
    font-size: 21.5px;
    font-weight: 800;
    color: black;
}

.counter .control span.minus{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #888888;
}

.counter .control span.plus{
    padding-right: 10px;
}


/* Position framgment */
.position{
    border: 3px solid #888888;
    border-radius: 10px;
    text-align: left;
}

.position input{
    margin-left: 10px;
    border: none;
    font-size: 13px;
    line-height: 30px;
    width: 75%;
    background: transparent;
}

.position .control{
    float: right;
}

.position .control span{
    cursor: pointer;
    font-size: 21.5px;
    font-weight: 800;
    margin-right: 25px;
}

/* Normal fragment */
.normal{
    border: 3px solid #888888;
    border-radius: 10px;
    text-align: left;
}

.normal input{
    margin-left: 10px;
    border: none;
    font-size: 13px;
    line-height: 30px;
    width: 90%;
    background: transparent;
}

/* Text fragment */
.textarea{
    border: 3px solid #888888;
    border-radius: 10px;
    text-align: left;
}

.textarea textarea{
    margin-left: 10px;
    width: 90%;
    border: none;
    font-size: 13px;
    background: transparent;
}

/* Select fragment */
.select{
    border: 3px solid #888888;
    border-radius: 10px;
    text-align: left;
}

.select select{
    margin-left: 10px;
    border: none;
    font-size: 13px;
    line-height: 30px;
    width: 95%;
    background: transparent;
    height: 32px;
}
.select select option{
    font-size: 15px;
    font-weight: 600;
}
@media (max-width: 992px){
    .counter, .position, .normal{
        width: 95%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}