.filter .price-range{
    margin: auto;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 600;
}
.filter .map{
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.filter .filter-btn{
    width: 100%;
}
@media (min-width: 992px){
    .filter .map{
        position: sticky;
        width: 350px;
        top: 85px;
    }
}
@media (max-width: 576px){
    .filter .map{
        margin-top: 0px;
    }
    .filter .filter-btn{
        width: 64px;
        margin-left: -15px;
    }
}